.particles {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    animation: floatDreamy linear infinite;
}

/* 24 particles distributed throughout the whole screen */
.particle:nth-child(1) {
    width: 3px;
    height: 3px;
    left: 15%;
    top: 20%;
    animation-duration: 14.4s;
    animation-delay: 0s;
}

.particle:nth-child(2) {
    width: 4px;
    height: 4px;
    left: 35%;
    top: 55%;
    animation-duration: 17.6s;
    animation-delay: -2.4s;
}

.particle:nth-child(3) {
    width: 5px;
    height: 5px;
    left: 55%;
    top: 10%;
    animation-duration: 12s;
    animation-delay: -4.8s;
}

.particle:nth-child(4) {
    width: 3px;
    height: 3px;
    left: 75%;
    top: 70%;
    animation-duration: 16s;
    animation-delay: -1.6s;
}

.particle:nth-child(5) {
    width: 4px;
    height: 4px;
    left: 25%;
    top: 40%;
    animation-duration: 19.2s;
    animation-delay: -6.4s;
}

.particle:nth-child(6) {
    width: 3px;
    height: 3px;
    left: 65%;
    top: 85%;
    animation-duration: 13.6s;
    animation-delay: -4s;
}

.particle:nth-child(7) {
    width: 4px;
    height: 4px;
    left: 45%;
    top: 30%;
    animation-duration: 16.8s;
    animation-delay: -8s;
}

.particle:nth-child(8) {
    width: 3px;
    height: 3px;
    left: 85%;
    top: 60%;
    animation-duration: 15.2s;
    animation-delay: -5.6s;
}

.particle:nth-child(9) {
    width: 6px;
    height: 6px;
    left: 10%;
    top: 75%;
    animation-duration: 12.8s;
    animation-delay: -9.6s;
}

.particle:nth-child(10) {
    width: 3px;
    height: 3px;
    left: 50%;
    top: 45%;
    animation-duration: 18.4s;
    animation-delay: -3.2s;
}

.particle:nth-child(11) {
    width: 4px;
    height: 4px;
    left: 80%;
    top: 15%;
    animation-duration: 11.2s;
    animation-delay: -7.2s;
}

.particle:nth-child(12) {
    width: 3px;
    height: 3px;
    left: 30%;
    top: 90%;
    animation-duration: 20s;
    animation-delay: -8.8s;
}

.particle:nth-child(13) {
    width: 5px;
    height: 5px;
    left: 95%;
    top: 30%;
    animation-duration: 14.4s;
    animation-delay: -1.2s;
}

.particle:nth-child(14) {
    width: 4px;
    height: 4px;
    left: 5%;
    top: 50%;
    animation-duration: 17.6s;
    animation-delay: -3.6s;
}

.particle:nth-child(15) {
    width: 6px;
    height: 6px;
    left: 60%;
    top: 65%;
    animation-duration: 12s;
    animation-delay: -5.5s;
}

.particle:nth-child(16) {
    width: 3px;
    height: 3px;
    left: 40%;
    top: 80%;
    animation-duration: 16s;
    animation-delay: -2.3s;
}

.particle:nth-child(17) {
    width: 4px;
    height: 4px;
    left: 20%;
    top: 10%;
    animation-duration: 19.2s;
    animation-delay: -7.1s;
}

.particle:nth-child(18) {
    width: 3px;
    height: 3px;
    left: 90%;
    top: 95%;
    animation-duration: 13.6s;
    animation-delay: -4.8s;
}

.particle:nth-child(19) {
    width: 5px;
    height: 5px;
    left: 70%;
    top: 25%;
    animation-duration: 16.8s;
    animation-delay: -9s;
}

.particle:nth-child(20) {
    width: 3px;
    height: 3px;
    left: 15%;
    top: 100%;
    animation-duration: 15.2s;
    animation-delay: -6s;
}

.particle:nth-child(21) {
    width: 6px;
    height: 6px;
    left: 85%;
    top: 5%;
    animation-duration: 12.8s;
    animation-delay: -10s;
}

.particle:nth-child(22) {
    width: 3px;
    height: 3px;
    left: 50%;
    top: 100%;
    animation-duration: 18.4s;
    animation-delay: -4s;
}

.particle:nth-child(23) {
    width: 4px;
    height: 4px;
    left: 10%;
    top: 35%;
    animation-duration: 11.2s;
    animation-delay: -8s;
}

.particle:nth-child(24) {
    width: 3px;
    height: 3px;
    left: 95%;
    top: 80%;
    animation-duration: 20s;
    animation-delay: -9.5s;
}

@keyframes floatDreamy {
    0% {
        transform: translate(0px, 10vh) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    25% {
        transform: translate(3vw, 0vh) scale(1.1);
        opacity: 0.4;
    }

    50% {
        transform: translate(-3vw, -15vh) scale(0.9);
        opacity: 0.6;
    }

    75% {
        transform: translate(2vw, -30vh) scale(1.05);
        opacity: 0.3;
    }

    90% {
        opacity: 0.15;
    }

    100% {
        transform: translate(-1vw, -40vh) scale(1);
        opacity: 0;
    }
}